@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color1: #fff;
    --color2: #000;
    --color3: #1b1b1b;
    --color4: #5A4B29;
    --color5: #FF6914;
    --color6: #D9D9D9;
    --color7: #8C8A88;
    --color8: #6D6D6D;

    background-color: var(--color3);
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

img {
    width: 100%;
}

a {
    text-decoration: transparent;
}

.imgTop {
    max-width: 370px;
    height: 25vh;
    margin: 2rem auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color4);
}

.imgLogo {
    width: 60%;
    padding: 10px;
}

.containerOpc {
    max-width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
}

.cardOpc {
    width: 175px;
    height: 175px;
    border-radius: 15px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opCarnes {
    background-image: url('./assets/carnes.jpeg');
}

.linkHover {
    opacity: 1;
    color: var(--color2);
    transition: .3s;
    cursor: pointer;
}

.linkHover:hover {
    opacity: .7;
}

.opMassas {
    background-image: url('./assets/massas.jpg');
}

.opBebidas {
    background-image: url('./assets/bebidas.jpg');
}

.opFrios {
    background-image: url('./assets/frios.jpg');
}

.opSorvetes {
    background-image: url('./assets/sorvetes.jpg');
}

.opSobremesas {
    background-image: url('./assets/sobremesas.jpg');
}

.titleOpc {
    text-align: center;
    width: 100%;
    background-color: #94949475;
    color: var(--color1);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3rem;
}

/* *****************CSS cadapio.html***************** */
.container2 {
    max-width: 100vw;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    width: 100%;
    height: 4.438rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color4);
    color: var(--color1);
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.categoryMenu {
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowBox {
    margin: .5rem 1rem 0 1rem;
    width: 16px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.titleMenu {
    color: var(--color2);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3rem;
}

.foodBox {
    width: 90%;
    display: grid;
    grid-template-columns: 77px 1fr 84px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(109, 109, 109, 0.50);
    background: var(--color1);
    margin: 1.125rem .35rem 0 .35rem;
    padding: .25rem;
}

.imgFood {
    width: 4.813rem;
    height: 4.688rem;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.imgFull {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.textFood {
    width: 100%;
    padding: 0.25rem;
}

.textFood h3 {
    color: var(--color5);
}

.textFood p {
    font-size: .6rem;
    margin-top: 0.4rem;
    color: #6D6D6D;
}

.infoFood {
    width: 100%;
    height: 5.5rem;
    display: block;
    justify-content: center;
    align-items: center;
}

.descFood {
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--color6);
    padding: auto .125rem;
}

.valor {
    color: var(--color7);
    text-align: right;
    font-size: .75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.cardValor {
    color: var(--color3);
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.card {
    width: 1.375rem;
    height: 1.188rem;
    background: var(--color6);
    border-radius: 4px;
    margin: auto .175rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valorTotal {
    color: var(--color5);
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.buttoFood {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: .5rem;

}

.buttoSmall {
    width: 1.563rem;
    height: 1.563rem;
    border-radius: 5px;
    border: 1px solid var(--color8);
    background: #6D6D6D;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
}

.totalButton {
    width: 90%;
    height: 3.125rem;
    border-radius: 8px;
    background: var(--color5);
    color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
    border: 1px solid transparent;
}

@media screen and (min-width: 769px) {
    body {
        font-size: 1rem;
    }

    .containerOpc,
    .container2 {
        max-width: 700px;
    }

    .container2 {
        margin: 0px auto;
    }

    .imgTop {
        max-width: 35rem;
        height: 25vh;
    }

    .imgLogo {
        width: 40%;
        padding: 0.625 rem;
    }

}