@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color1: #fff;
    --color2: #000;
    --color3: #1b1b1b;
    --color4: #5A4B29;
    --color5: #FF6914;
    --color6: #D9D9D9;
    --color7: #8C8A88;
    --color8: #6D6D6D;

    background-color: var(--color3);
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

img {
    width: 100%;
}

a {
    text-decoration: transparent;
}

.imgTop {
    max-width: 370px;
    height: 25vh;
    margin: 2rem auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color4);
}

.imgLogo {
    width: 60%;
    padding: 10px;
}

.containerOpc {
    max-width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
}

.cardOpc {
    width: 175px;
    height: 175px;
    border-radius: 15px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opCarnes {
    background-image: url('./assets/carnes.jpeg');
}

.linkHover {
    opacity: 1;
    color: var(--color2);
    transition: .3s;
}

.linkHover:hover {
    opacity: .7;
}

.opMassas {
    background-image: url('./assets/massas.jpg');
}

.opBebidas {
    background-image: url('./assets/bebidas.jpg');
}

.opFrios {
    background-image: url('./assets/frios.jpg');
}

.opSorvetes {
    background-image: url('./assets/sorvetes.jpg');
}

.opSobremesas {
    background-image: url('./assets/sobremesas.jpg');
}

.titleOpc {
    text-align: center;
    width: 100%;
    background-color: #94949475;
    color: var(--color1);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3rem;
}

@media screen and (min-width: 769px) {
    body {
        font-size: 1rem;
    }

    .containerOpc {
        max-width: 700px;
    }

    .imgTop {
        max-width: 35rem;
        height: 25vh;
    }

    .img-logo {
        width: 40%;
        padding: 0.625 rem;
    }

}