@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1b1b1b;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.img-top {
    max-width: 370px;
    height: 25vh;
    margin: 2rem auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #5A4B29;
}

.img-logo {
    width: 70%;
    padding: 10px;
}

.container-opc {
    max-width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
}

.card-opc {
    width: 175px;
    height: 175px;
    border-radius: 15px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.op-carnes {
    background-image: url('./assets/carnes.jpeg');
}

.op-massas {
    background-image: url('./assets/massas.jpg');
}

.op-bebidas {
    background-image: url('./assets/bebidas.jpg');
}

.op-frios {
    background-image: url('./assets/frios.jpg');
}

.op-sorvetes {
    background-image: url('./assets/sorvetes.jpg');
}

.op-sobremesas {
    background-image: url('./assets/sobremesas.jpg');
}

.title-opc {
    text-align: center;
    width: 100%;
    background-color: #94949475;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 3rem;
}

@media screen and (min-width: 769px) {
    body {
        font-size: 1rem;
    }

    .container-opc {
        max-width: 700px;
    }

    .img-logo {
        width: 60%;
        padding: 10px;
    }

    .img-top {
        max-width: 370px;
        height: 25vh;
        margin: 2rem auto 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #5A4B29;
    }

}